bundletool
bundletool*.jar
Signal-Android/
reproducible-signal/
.ipynb_checkpoints/
__pycache__
.idea
apkdiff.py
tools/
.clean_logs/
*.aab
.idea/
disorderfs/
*__pycache__*

mismatches
sort
sort_reverse
chaos

example_arm_device_splits/**/*.apks
example_arm_device_splits/**/*.apk

data/build/*
!data/build/tars/
!data/build/tars/**
data/playstore-universal-unzipped
