data/runs/**/*.apk filter=lfs diff=lfs merge=lfs -text
data/playstore-mirror/**/*.apk filter=lfs diff=lfs merge=lfs -text
data/build/tars/signal-android-ctime-reversed_v7.28.4_02.tar.gz filter=lfs diff=lfs merge=lfs -text
data/build/tars/signal-android-ctime-reversed_v7.36.2.tar.gz filter=lfs diff=lfs merge=lfs -text
data/build/tars/signal-android-ctime-sort_v7.37.2.tar.gz filter=lfs diff=lfs merge=lfs -text
data/build/tars/signal-android_v7.37.2.tar.gz filter=lfs diff=lfs merge=lfs -text
data/build/tars/dfstest-signal-android-ctime-reversed_v7.28.4_02.tar.gz filter=lfs diff=lfs merge=lfs -text
data/build/tars/dfstest-signal-android-ctime-sort_v7.37.2_01.tar.gz filter=lfs diff=lfs merge=lfs -text
data/build/tars/signal-android-alph-reversed_v7.30.2.tar.gz filter=lfs diff=lfs merge=lfs -text
data/build/tars/signal-android-alph-reversed_v7.37.2.tar.gz filter=lfs diff=lfs merge=lfs -text
data/build/tars/signal-android-alph-sort_v7.37.2.tar.gz filter=lfs diff=lfs merge=lfs -text
data/build/tars/signal-android-ctime-reversed_v7.30.2.tar.gz filter=lfs diff=lfs merge=lfs -text
data/build/tars/signal-android-ctime-sort_v7.28.4.tar.gz filter=lfs diff=lfs merge=lfs -text
data/build/tars/signal-android_v7.34.2.tar.gz filter=lfs diff=lfs merge=lfs -text
data/build/tars/dfstest-signal-android-ctime-reversed_v7.37.2_01.tar.gz filter=lfs diff=lfs merge=lfs -text
data/build/tars/dfstest-signal-android-ctime-sort_v7.28.4_02.tar.gz filter=lfs diff=lfs merge=lfs -text
data/build/tars/signal-android-alph-sort_v7.30.2.tar.gz filter=lfs diff=lfs merge=lfs -text
data/build/tars/signal-android-ctime-reversed_v7.37.2.tar.gz filter=lfs diff=lfs merge=lfs -text
data/build/tars/signal-android-ctime-sort_v7.30.2.tar.gz filter=lfs diff=lfs merge=lfs -text
data/build/tars/signal-android-ctime-sort_v7.36.2.tar.gz filter=lfs diff=lfs merge=lfs -text
data/build/tars/signal-android_v7.30.2.tar.gz filter=lfs diff=lfs merge=lfs -text
data/build/tars/dfstest-signal-android-ctime-reversed_v7.28.4_01.tar.gz filter=lfs diff=lfs merge=lfs -text
data/build/tars/dfstest-signal-android-ctime-reversed_v7.37.2_02.tar.gz filter=lfs diff=lfs merge=lfs -text
data/build/tars/signal-android-ctime-reversed_v7.28.4_01.tar.gz filter=lfs diff=lfs merge=lfs -text
data/build/tars/signal-android-ctime-reversed_v7.28.4_03.tar.gz filter=lfs diff=lfs merge=lfs -text
data/build/tars/dfstest-signal-android-ctime-sort_v7.28.4_01.tar.gz filter=lfs diff=lfs merge=lfs -text
data/build/tars/dfstest-signal-android-ctime-sort_v7.37.2_02.tar.gz filter=lfs diff=lfs merge=lfs -text
